@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply break-words;

    &.lock-scroll {
      @apply overflow-y-hidden;
    }
  }

  a {
    @apply underline underline-offset-2;
  }
}

@layer utilities {
  .section-container {
    @apply container mx-auto px-4;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-shadow-sm {
    text-shadow: 0px 0px 3px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }

  .word-spacing-sm {
    word-spacing: 0.25rem;
  }
  .word-spacing-md {
    word-spacing: 0.5rem;
  }
  .word-spacing-none {
    word-spacing: 0rem;
  }
}
